[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/freetype/freetype.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libs/thread-pool"]
	path = libs/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "libs/imgui/src"]
	path = libs/imgui/src
	url = https://github.com/ocornut/imgui.git
[submodule "libs/stb/src"]
	path = libs/stb/src
	url = https://github.com/nothings/stb.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/uuid"]
	path = libs/uuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "libs/earcut"]
	path = libs/earcut
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "libs/harfbuzz"]
	path = libs/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "libs/webgpu-wrapper"]
	path = libs/webgpu-wrapper
	url = https://github.com/EternMaxwell/webgpu-cpp-wrapper.git
[submodule "libs/sfml"]
	path = libs/sfml
	url = https://github.com/SFML/SFML.git
[submodule "libs/efsw"]
	path = libs/efsw
	url = https://github.com/SpartanJ/efsw.git
[submodule "libs/taskflow"]
	path = libs/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "libs/zpp_bits"]
	path = libs/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "libs/stdexec"]
	path = libs/stdexec
	url = https://github.com/NVIDIA/stdexec.git
