[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/freetype/freetype.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libs/thread-pool"]
	path = libs/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "libs/webgpu"]
	path = libs/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
[submodule "libs/imgui/src"]
	path = libs/imgui/src
	url = https://github.com/ocornut/imgui.git
[submodule "libs/stb/src"]
	path = libs/stb/src
	url = https://github.com/nothings/stb.git
